version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./src/backend:/var/www
    depends_on:
      - backend
    networks:
      - app

  backend:
    build:
      context: ./docker/php
    container_name: backend
    working_dir: /var/www
    volumes:
      - ./src/backend:/var/www
    depends_on:
      - postgres
      - redis
    networks:
      - app

  frontend:
    image: node:20
    container_name: frontend
    working_dir: /app
    volumes:
      - ./src/frontend:/app
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
    networks:
      - app

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: project
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app

  redis:
    image: redis:7
    container_name: redis
    networks:
      - app

  queue:
    build:
      context: ./docker/php
    working_dir: /var/www
    volumes:
      - ./src/backend:/var/www
    depends_on:
      - postgres
      - redis
    command: php artisan queue:work --tries=3 --timeout=90


networks:
  app:

volumes:
  postgres_data:
